/* https://developer.gnome.org/gtk3/stable/chap-css-overview.html */
/* YAD man dosyası WIDGETS NAMES bölümü*/

/*Ezanvakti arayüz 2 css dosyası*/


/* Renk kodları için yad --color komutuyla
 * açılan paleti kullanabilirsiniz.
*/

/*YAD Penceresi için
 * background-color: artalan rengi
 * color: yazı rengi
*/
#yad-paned-widget {
    background-color: #46443F;
    /*YAD arkaplan resmi.
     *Ekleyeceğiniz resmin tam konumunu girin.*/
   /* background-image: url("/nerede/bu/resim"); */
    color: #F1E7D3;
    font: 16px Arial, sans-serif;
}

/*Kutucukların iç bölgesi için
 * color: yazı rengi
 * background: artalan rengi
 * font: yazı tipi
*/
*:disabled {
  color: #F5AD0E;
  background: #46443F;
  font: 16px Arial, sans-serif;
}
