/* https://developer.gnome.org/gtk3/stable/chap-css-overview.html */
/* YAD man dosyası WIDGETS NAMES bölümü*/


/*Ezanvakti yapılandırma yöneticisi css dosyası*/


/* Renk kodları için yad --color komutuyla
 * açılan paleti kullanabilirsiniz.
*/

/*YAD Penceresi için
 * background-color: artalan rengi
 * color: yazı rengi
*/
#yad-notebook-widget {
    background-color: #46443F;
    color: #F1E7D3;
    font: 15px Arial, sans-serif;
}


#yad-form-button {
  /*color: #ff00ea;*/
  background: #46443F;
  font: 12px Arial, sans-serif;
}

