Source: ezanvakti
Section: misc
Priority: optional
Maintainer: Fatih Bostanci <faopera@gmail.com>
Build-Depends: debhelper (>= 10)
Standards-Version: 4.6.1
Homepage: https://gitlab.com/fbostanci/ezanvakti

Package: ezanvakti
Architecture: all
Depends: ${misc:Depends}, yad, libnotify-bin, mplayer | ffmpeg, hicolor-icon-theme, gawk, bash-completion, wget | curl
Description: ezanvakti
 GNU/Linux icin ezan vakti bildirici.
