Source: ezanvakti
Section: misc
Priority: optional
Maintainer: Fatih Bostanci <faopera@gmail.com>
Build-Depends: debhelper (>= 12~)
Standards-Version: 4.3.0

Package: ezanvakti
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, yad, libnotify-bin, ffmpeg, gawk, bash-completion
Description: ezanvakti
 GNU/Linux icin ezan vakti bildirici.
